<template id="messagerender">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <style>
        .messageWrapdiv {
            height: 47em;
            display: flex;
            flex-direction: column-reverse;
            overflow-y: auto;
        }

        .messages {
            list-style: none;
        }

        .form-box {
            display: flex;
            align-items: center;
        }

        .msg-button {
            margin-bottom: 5px;
        }


    </style>
    <div class="messageWrapdiv row">
        <ul class="messages">
        </ul>
    </div>
    <div class="row form-box">
        <form class="msg-form" action>
            <input class="msg-input col-md-11" autocomplete="off">
            <button type="button col-md-1" class="btn btn-secondary btn-sm msg-button">Send</button>
        </form>
    </div>
</template>