<template id="userlist">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <style>
         .user-list-item-cont {
            display: none;
            display: flex !important;
            align-items: center;
            list-style: none; 
            justify-content: space-between !important;
            border: 1px solid black;
            border-bottom: 1px solid;
            background-color: black;
            margin: 0;
        }


        .block-user,
        .dm-user{
            font-size: small;
            padding: 1px 1px !important;
            margin: 1px;
        }
        
/* 
        .dm-user:hover {
            background-color: purple;
            box-shadow: 4px 4px 4px;
        }
        .block-user:hover {
            background-color: purple;
            box-shadow: 4px 4px 4px;
        }  */
    </style>

    <div class="list-group-item user-list-item-cont container">
        <li class="user-list-item col-lg-8"></li>
        <button type="button" class="btn btn-secondary btn-xs dm-user col-lg-2">DM</button>
        <button type="button" class="btn btn-secondary btn-xs block-user col-lg-2">block</button>
    </div>
</template>