<template id="userlist">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <style>
         .user-list-item-cont {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            width: 80%;
            padding: 5px;
            border: 1px solid;
            border-radius: 5px;
            box-shadow: 3px 3px 3px;



        }

        /*
        .user-list-item-cont:hover {
            margin-left: 2px;
            box-shadow: 5px 5px 5px;
        }





        .user-list-item {
            display: flex;
            justify-content: flex-start;
            align-items: center;

        }
        .block-user,
        .dm-user {

            box-shadow: 2px 2px 2px;
            transition: background-color 0.5s, box-shadow 0.5s;
            
        }


        .dm-user:hover {
            background-color: purple;
            box-shadow: 4px 4px 4px;
        }
        .block-user:hover {
            background-color: purple;
            box-shadow: 4px 4px 4px;
        } */
    </style>
    
    <div class="list-group-item container user-list-item-cont">
        <li class="user-list-item"></li>
        <div class="button-container">
            <button class="dm-user">DM</button>
            <button class="block-user">block</button>
        </div>
    </div>

</template>