body {
    background-color: black;
    margin: 0;
    padding: 0;
}
.biggestWrapperAlive{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    border: 1px solid;
    border-radius: 5px;
}
.startWrapper{
    position: absolute;
    display: flex;
    justify-content: center;
}

.username-button{
    margin-bottom: 5px;
}
.user-list{
    height: 50em;
    border: 1px solid;;
}

.show {
    animation-name: colorpulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes colorpulse {
    0% {
        background-color: white;
    }
    50% {
        background-color: black;
    }
    100% {
        background-color: white;
    }
}
.user-list-item-cont {
    display: none;
    display: flex !important;
    align-items: center;
    list-style: none; 
    justify-content: space-between !important;
    border: 1px solid black;
    border-bottom: 1px solid;
    background-color: black;
    margin: 0;
}
